body{
    background-image: url(images/1.jpg);
}

a{
    color: red;
    font-size: 20px;
}

div{
    color: #eb512d;   
}

#my_link{
    color: lime;
}

#text_link{
    font-size: 20px;
    color: #E158DA;
}

.human{
    color: #397FE1;
}

.animal{
    color: #E1AF1A;
}

.message{
    color: #31E10D;
    background-color: #0D77E1;
    border: 3px solid #E142B1;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
    padding: 15px;
}

.warning{
    color: #000000;
    background-color: #E1DB31;
}

.fail{
    color: #E1F6FF;
    background-color: #BE131E;
}

.success{
    color: #000000;
    background-color: #37F2FF;
}

.info{
    color: #E1F6FF;
    background-color: #48FF23;
}

.probnik{
    margin-top: 10px;
}

.message:hover{
    border: 15px solid #FF5FE7;
}

#test{
    transform: rotate(45deg) scale(1.5);
    transition: 2s all;

   background-color: #2DFF65;
   color: #FFF0F0;
   padding: 15px;
   margin: 15px;
   border: 7px solid #FF373A;
   border-radius: 100px;
   opacity: 0.8;
   box-shadow:-13px 20px 3px #0F13FF;
   width: 500px;
   height: 45px;
   display: block;
   text-align: center;
   font-size: 30px;
   font-weight: 900;
}

#test:hover{
    transform: rotate(90deg) scale(0.3);
    background-color: #FFCF23;
}

